# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform.lock.hcl

# Dossier volumineux
infra/terraform/.terraform/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Archives
*.zip
*.tar.gz

# IDE
.vscode/
.idea/
*.swp
